export default {
    get user(){
        // Change to your own QQ email
        // Gmail account, please ask us for this
        return 'example@gmail.com'
    },
    get pass(){
        // Change it to your own QQ email authorization code
        // Please ask us for this and we can provide
        return 'gmailPassword'
    },
}
